//Base
@forward './base/colors';
@forward './base/fonts';
@forward './base/mixins';


//Libraries
@forward "primeicons/primeicons.css";
@forward "primeflex/primeflex.css";

@forward './base/configurations';
//Pages
@forward './apps/shop/pages/home-page';
@forward './apps/shop/pages/products-list-page';

//Shared
@forward './apps/shop/shared/header';
@forward './apps/shop/shared/footer';
@forward './apps/shop/shared/nav';

//Libs
@forward './libs/ui/ui';


.container {
  width: 1200px;
  padding: 15px;
  margin: 0 auto;
  background-color: var(--p-surface-100);
  // color: colors.$primary-color;
}
